body {
  font-family: 'Poppins', sans-serif !important;
  background: #fafafa;
  font-size: 12px !important;
}

.input-group-sm {
  padding: 0.25rem 0.5rem !important;
  font-size: .875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
}


.sin-borde {
  border: none !important;
}

.requerido:before {
  content: "* ";
  color: red;
}

.btn-normal {
  font-size: 1rem !important;
}

.btn {
  font-size: 0.75rem;
}

input {
  padding: 1px 2px !important;
}

.soloMayusculas {
  text-transform: uppercase;
}

.modal-lg {
  max-width: 1100px !important;
}
