<div *ngIf="empleados" class="container justify-content">
  <div class="col-12">
    <br />
    <h4 style="text-align:center"><b>Empleados Cidenet S.A.S</b></h4>
    <div class="card">
      <div class="card-body">
        <table style="width:100%" border="0">
          <tr>
            <td>
              <br />
              <div class="panel panel-default">
                <div class="panel-body">
                  <table style="width:100%" border="0">
                    <tr>
                      <td width="70%">
                        <table border="0" style="width:100%">
                          <tr>
                            <td width="10%">
                              <table>
                                <tr>
                                  <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                  </td>
                                  <td>
                                    <div>
                                      <button type="button" class="btn btn-primary" id="btnCrear" name="btnCrear" (click)="abrirModal(modalCrear)">
                                        Crear
                                      </button>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td width="70%">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input id="txtFiltro" [(ngModel)]="filtro" type="text" class="form-control" name="txtFiltro" placeholder="Filtro">
                              </div>
                            </td>
                            <td width="10%" align="center">
                              <button (click)="getEmpleadosxFiltro()" type="button" class="btn btn-secondary" id="btnFiltrar" name="btnFiltrar">Filtrar</button>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <br />
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="table-responsive-sm">
                    <table class="table table-hover" id="tblEmpleados" name="tblEmpleados">
                      <thead>
                        <tr class="text-center">
                          <th scope="col">#</th>
                          <th scope="col">Nombre completo</th>
                          <th scope="col">Tipo de Identificación</th>
                          <th scope="col">Identificación</th>
                          <th scope="col">País</th>
                          <th scope="col">Correo electrónico</th>
                          <th scope="col">Área</th>
                          <th scope="col">Estado</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                      <tbody id="tBodyEmpleados">
                        <tr class="text-center" *ngFor="let empleado of empleados">
                          <td>{{empleado.idEmpleado}}</td>
                          <td>{{empleado.primerNombre}} {{empleado.otrosNombres}} {{empleado.primerApellido}} {{empleado.segundoApellido}}</td>
                          <td>{{empleado.nombreTipoIdentificacion}}</td>
                          <td>{{empleado.numeroIdentificacion}}</td>
                          <td>{{empleado.nombrePais}}</td>
                          <td>{{empleado.correoElectronico}}</td>
                          <td>{{empleado.nombreArea}}</td>
                          <td>{{empleado.nombreEstado}}</td>
                          <td>

                            <span title="Editar" class="sin-borde btn-normal" (click)="abrirModalEditar(modalCrear, empleado)">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                              </svg>
                            </span>
                            &nbsp;
                            <span title="Eliminar" class="sin-borde btn-normal" (click)="abrirConfirmar(empleado)">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                              </svg>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <pagination [totalItems]="size"
                    [(ngModel)]="currentPage"
                    (pageChanged)="pageChanged($event)"
                    [maxSize]="maxSize"
                    [itemsPerPage]="itemsPerPage"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;">
        </pagination>
      </div>
    </div>
  </div>
</div>

<ng-template #modalCrear>
  <div class="modal-header">
    <h4 class="modal-title pull-center">Empleado</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid col-12">
      <div class="row">
        <div class="row col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="control-label requerido">Primer Apellido</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input class="form-control soloMayusculas" (keypress)="soloLetras($event,true)" type="text" [(ngModel)]="empleado.primerApellido" maxlength="20" id="txtPrimerApellido" name="txtPrimerApellido" required #txtPrimerApellido="ngModel" />
            <div *ngIf="txtPrimerApellido.invalid && (txtPrimerApellido.dirty || txtPrimerApellido.touched)" class="text-danger">
              <small *ngIf="txtPrimerApellido.errors?.['required']">
                Debe ingresar un Primer apellido.
              </small>
            </div>
          </div>
        </div>
        <div class="row col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="control-label requerido">Segundo Apellido</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input class="form-control soloMayusculas" (keypress)="soloLetras($event,false)" type="text" [(ngModel)]="empleado.segundoApellido" maxlength="20" id="txtSegundoApellido" name="txtSegundoApellido" required #txtSegundoApellido="ngModel" />
            <div *ngIf="txtSegundoApellido.invalid && (txtSegundoApellido.dirty || txtSegundoApellido.touched)" class="text-danger">
              <small *ngIf="txtSegundoApellido.errors?.['required']">
                Debe ingresar un Segundo apellido.
              </small>
            </div>
          </div>
        </div>
        <div class="row col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="control-label requerido">Primer Nombre</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input class="form-control soloMayusculas" (keypress)="soloLetras($event,false)" type="text" [(ngModel)]="empleado.primerNombre" maxlength="20" id="txtPrimerNombre" name="txtPrimerNombre" required #txtPrimerNombre="ngModel" />
            <div *ngIf="txtPrimerNombre.invalid && (txtPrimerNombre.dirty || txtPrimerNombre.touched)" class="text-danger">
              <small *ngIf="txtPrimerNombre.errors?.['required']">
                Debe ingresar un Primer nombre.
              </small>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="row col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="control-label">Otros Nombres</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input class="form-control soloMayusculas" (keypress)="soloLetras($event,true)" type="text" [(ngModel)]="empleado.otrosNombres" maxlength="50" id="txtOtrosNombres" name="txtOtrosNombres" #txtOtrosNombres="ngModel" />
          </div>
        </div>
        <div class="row col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="control-label requerido">País del empleo</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ngx-select class="sin-validaciones"
                        [items]="paises"
                        [allowClear]="true"
                        [(ngModel)]="empleado.pais"
                        [autoClearSearch]="true"
                        optionValueField="valor"
                        optionTextField="nombre"
                        placeholder="--Seleccione una opción--"
                        id="cmbPaises"
                        name="cmbPaises"
                        required
                        #cmbPaises="ngModel">
            </ngx-select>
            <div *ngIf="cmbPaises.invalid && (cmbPaises.dirty || cmbPaises.touched)" class="text-danger">
              <small *ngIf="cmbPaises.errors?.['required']">
                Debe ingresar un País.
              </small>
            </div>
          </div>
        </div>
        <div class="row col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="control-label requerido">Tipo de Identificación</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ngx-select class="sin-validaciones"
                        [items]="tipoIdentificacion"
                        [allowClear]="true"
                        [(ngModel)]="empleado.tipoIdentificacion"
                        [autoClearSearch]="true"
                        optionValueField="valor"
                        optionTextField="nombre"
                        placeholder="--Seleccione una opción--"
                        id="cmbTipoIdentificacion"
                        name="cmbTipoIdentificacion"
                        required
                        #cmbTipoIdentificacion="ngModel">
            </ngx-select>
            <div *ngIf="cmbTipoIdentificacion.invalid && (cmbTipoIdentificacion.dirty || cmbTipoIdentificacion.touched)" class="text-danger">
              <small *ngIf="cmbTipoIdentificacion.errors?.['required']">
                Debe ingresar un Tipo de identificación.
              </small>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="row col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="control-label requerido">Número de Identificación</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input class="form-control" (keypress)="soloLetrasNumeros($event)" type="text" [(ngModel)]="empleado.numeroIdentificacion" maxlength="20" id="txtNumeroIdentificacion" name="txtNumeroIdentificacion" required #txtNumeroIdentificacion="ngModel" />
            <div *ngIf="txtNumeroIdentificacion.invalid && (txtNumeroIdentificacion.dirty || txtNumeroIdentificacion.touched)" class="text-danger">
              <small *ngIf="txtNumeroIdentificacion.errors?.['required']">
                Debe ingresar un Número de identificación.
              </small>
            </div>
          </div>
        </div>
        <div class="row col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="control-label requerido">Fecha Ingreso</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input type="text"
                   placeholder="DD/MM/YYYY"
                   class="form-control"
                   readonly
                   bsDatepicker
                   [bsConfig]="{
                   showWeekNumbers: false,
                   dateInputFormat: 'DD/MM/YYYY'
                   }"
                   [minDate]="mesAtras"
                   [maxDate]="hoy"
                   [(ngModel)]="empleado.fechaIngreso"
                   id="txtFechaIngreso" name="txtFechaIngreso" required #txtFechaIngreso="ngModel">
            <div *ngIf="txtFechaIngreso.invalid && (txtFechaIngreso.dirty || txtFechaIngreso.touched)" class="text-danger">
              <small *ngIf="txtFechaIngreso.errors?.['required']">
                Debe ingresar una Fecha de ingreso.
              </small>
            </div>
          </div>
        </div>
        <div class="row col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="control-label requerido">Área</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ngx-select class="sin-validaciones"
                        [items]="areas"
                        [allowClear]="true"
                        [(ngModel)]="empleado.idArea"
                        [autoClearSearch]="true"
                        optionValueField="valor"
                        optionTextField="nombre"
                        placeholder="--Seleccione una opción--"
                        id="cmbAreas"
                        name="cmbAreas"
                        required
                        #cmbAreas="ngModel">
            </ngx-select>
            <div *ngIf="cmbAreas.invalid && (cmbAreas.dirty || cmbAreas.touched)" class="text-danger">
              <small *ngIf="cmbAreas.errors?.['required']">
                Debe ingresar un Área.
              </small>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row" *ngIf="editable">
        <div class="row col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="control-label requerido">Estado</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ngx-select class="sin-validaciones"
                        [items]="estados"
                        [(ngModel)]="empleado.estado"
                        [autoClearSearch]="true"
                        optionValueField="valor"
                        optionTextField="nombre"
                        placeholder="--Seleccione una opción--"
                        id="cmbEstados"
                        name="cmbEstados"
                        required
                        #cmbEstados="ngModel">
            </ngx-select>
            <div *ngIf="cmbEstados.invalid && (cmbEstados.dirty || cmbEstados.touched)" class="text-danger">
              <small *ngIf="cmbEstados.errors?.['required']">
                Debe ingresar un Estado.
              </small>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <button *ngIf="!editable" [disabled]="bloqueado" class="btn btn-primary float-start" (click)="guardar(empleado)">Guardar</button>
          <button *ngIf="editable" [disabled]="bloqueado" class="btn btn-primary float-start" (click)="editar(empleado)">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
